# Auto detect text files and perform LF normalization
* text=auto
E:/Users/felia/Documents/GitHub/evaluacion-cognitiva-web/unityEnvironment/tutorialVideo.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
